In [1]:
import pandas as pd

In [2]:
! dir *.csv

 Volume in drive C is Windows
 Volume Serial Number is 1255-3BEE

 Directory of C:\Users\Sneha Krishnan\Downloads\Auro\scripts for cleaning

05/20/2017  11:43 PM           134,416 ride.csv
               1 File(s)        134,416 bytes
               0 Dir(s)  30,126,366,720 bytes free

In [3]:
ride = pd.read_csv('ride.csv',header= None)

In [4]:
ride.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,2,2017-01-21 00:20:46,2017-01-21 00:22:47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,3,2017-01-21 00:20:46,2017-01-21 00:22:48,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN
2,3,0,2017-01-22 17:47:01,2017-01-22 17:47:03,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
3,4,1,2017-01-22 17:58:28,2017-01-22 19:07:45,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
4,5,2,2017-01-22 19:13:08,2017-01-22 19:15:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
ride.columns = ['id','seat_id','time_board','time_offboard','onboard_lat','onboard_lon','offboard_lat','offboard_lon','star_rating','rider_first_name','rider_last_name','rider_email','survey_ride_reason','survey_feedback']
ride = ride[['id','time_board','time_offboard','onboard_lat','onboard_lon','offboard_lat','offboard_lon']]

In [6]:
ride['time_board'] = pd.to_datetime(ride['time_board'])
ride['time_offboard'] = pd.to_datetime(ride['time_offboard'])

In [7]:
ride['date_board'] = ride['time_board'].dt.date
ride['time_board'] = ride['time_board'].dt.time
ride['date_offboard'] = ride['time_offboard'].dt.date
ride['time_offboard'] = ride['time_offboard'].dt.time

In [8]:
ride = ride.dropna(subset=['onboard_lat'], how='any')
ride = ride.dropna(subset=['onboard_lon'], how='any')
ride = ride.dropna(subset=['offboard_lat'], how='any')
ride = ride.dropna(subset=['offboard_lon'], how='any')

In [9]:
ride.head()

,id,time_board,time_offboard,onboard_lat,onboard_lon,offboard_lat,offboard_lon,date_board,date_offboard
20,21,22:12:19,22:16:05,37.3502,-121.939,37.3494,-121.941,2016-12-07,2016-12-07
21,22,22:12:20,22:16:06,37.3502,-121.939,37.3494,-121.941,2016-12-07,2016-12-07
22,23,23:33:57,23:47:23,37.3496,-121.941,37.3484,-121.941,2016-12-07,2016-12-07
23,24,23:33:57,23:47:23,37.3496,-121.941,37.3484,-121.941,2016-12-07,2016-12-07
24,25,23:33:58,23:47:24,37.3496,-121.941,37.3484,-121.941,2016-12-07,2016-12-07

In [10]:
ride

,id,time_board,time_offboard,onboard_lat,onboard_lon,offboard_lat,offboard_lon,date_board,date_offboard
20,21,22:12:19,22:16:05,37.3502,-121.939,37.3494,-121.941,2016-12-07,2016-12-07
21,22,22:12:20,22:16:06,37.3502,-121.939,37.3494,-121.941,2016-12-07,2016-12-07
22,23,23:33:57,23:47:23,37.3496,-121.941,37.3484,-121.941,2016-12-07,2016-12-07
23,24,23:33:57,23:47:23,37.3496,-121.941,37.3484,-121.941,2016-12-07,2016-12-07
24,25,23:33:58,23:47:24,37.3496,-121.941,37.3484,-121.941,2016-12-07,2016-12-07
30,31,22:13:33,22:35:37,37.3502,-121.939,37.3501,-121.939,2017-01-10,2017-01-10
31,32,23:34:07,23:36:11,37.3492,-121.941,37.3501,-121.939,2017-01-10,2017-01-10
130,131,23:33:22,23:35:37,37.3500,-121.940,37.3496,-121.941,2016-12-06,2016-12-06
131,132,23:41:33,23:41:36,37.3492,-121.941,37.3492,-121.941,2016-12-06,2016-12-06
132,133,23:41:35,23:45:08,37.3492,-121.941,37.3499,-121.938,2016-12-06,2016-12-06
133,134,23:41:36,23:45:07,37.3492,-121.941,37.3499,-121.938,2016-12-06,2016-12-06
134,135,16:34:40,16:40:03,37.3497,-121.941,37.3510,-121.938,2016-12-07,2016-12-07
135,136,18:47:19,19:05:05,37.3502,-121.939,37.3502,-121.939,2016-12-07,2016-12-07
136,137,18:47:54,19:01:44,37.3502,-121.939,37.3500,-121.938,2016-12-07,2016-12-07
137,138,19:07:01,19:12:03,37.3502,-121.939,37.3484,-121.941,2016-12-07,2016-12-07
138,139,19:07:03,19:12:02,37.3502,-121.939,37.3484,-121.941,2016-12-07,2016-12-07
139,140,22:12:19,22:16:05,37.3502,-121.939,37.3494,-121.941,2016-12-07,2016-12-07
141,152,20:12:32,20:25:47,37.3497,-121.940,37.3489,-121.941,2016-12-06,2016-12-06
142,153,20:12:33,20:15:47,37.3497,-121.940,37.3499,-121.938,2016-12-06,2016-12-06
143,154,20:12:33,20:25:48,37.3497,-121.940,37.3490,-121.941,2016-12-06,2016-12-06
144,155,21:23:07,21:25:28,37.3496,-121.941,37.3483,-121.941,2016-12-06,2016-12-06
145,156,23:10:03,23:11:07,37.3498,-121.940,37.3496,-121.941,2016-12-06,2016-12-06
146,157,21:39:33,22:09:37,37.3498,-121.940,37.3496,-121.941,2016-12-06,2016-12-06
147,158,23:10:04,23:11:07,37.3498,-121.940,37.3496,-121.941,2016-12-06,2016-12-06
148,159,23:33:20,23:35:36,37.3500,-121.940,37.3496,-121.941,2016-12-06,2016-12-06
149,160,23:33:21,23:35:37,37.3500,-121.940,37.3496,-121.941,2016-12-06,2016-12-06
155,166,00:28:03,00:43:32,37.3504,-121.942,37.3505,-121.942,2017-01-10,2017-01-10
156,167,00:49:58,01:00:53,37.3504,-121.942,37.3505,-121.942,2017-01-10,2017-01-10
157,168,00:49:59,01:00:54,37.3503,-121.942,37.3505,-121.942,2017-01-10,2017-01-10
158,169,00:28:04,00:43:32,37.3504,-121.942,37.3505,-121.942,2017-01-10,2017-01-10
...,...,...,...,...,...,...,...,...,...
1208,2278,19:49:39,19:59:12,37.3484,-121.940,37.3484,-121.941,2017-04-28,2017-04-28
1209,2279,20:05:50,20:09:11,37.3502,-121.939,37.3504,-121.942,2017-04-28,2017-04-28
1210,2280,20:05:51,20:09:10,37.3502,-121.939,37.3504,-121.942,2017-04-28,2017-04-28
1211,2281,20:09:33,20:12:44,37.3504,-121.942,37.3501,-121.939,2017-04-28,2017-04-28
1212,2282,20:09:34,20:12:43,37.3504,-121.942,37.3501,-121.939,2017-04-28,2017-04-28
1213,2283,21:17:14,21:19:45,37.3501,-121.939,37.3504,-121.942,2017-04-28,2017-04-28
1214,2284,21:17:15,21:19:44,37.3501,-121.939,37.3504,-121.942,2017-04-28,2017-04-28
1215,2285,21:56:18,22:06:56,37.3501,-121.939,37.3492,-121.941,2017-04-28,2017-04-28
1216,2286,21:56:18,22:06:57,37.3501,-121.939,37.3492,-121.941,2017-04-28,2017-04-28
1217,2287,21:56:19,22:06:57,37.3501,-121.939,37.3492,-121.941,2017-04-28,2017-04-28
1218,2288,22:07:11,22:11:49,37.3492,-121.941,37.3496,-121.941,2017-04-28,2017-04-28
1219,2289,22:07:12,22:11:50,37.3492,-121.941,37.3496,-121.941,2017-04-28,2017-04-28
1220,2290,22:20:37,22:21:02,37.3504,-121.942,37.3504,-121.942,2017-04-28,2017-04-28
1221,2292,22:31:28,22:50:50,37.3504,-121.942,37.3504,-121.942,2017-04-28,2017-04-28
1222,2293,22:31:29,22:43:50,37.3504,-121.942,37.3504,-121.942,2017-04-28,2017-04-28
1223,2294,23:25:05,23:54:48,37.3502,-121.939,37.3494,-121.941,2017-04-28,2017-04-28
1224,2295,23:39:10,23:54:48,37.3501,-121.939,37.3494,-121.941,2017-04-28,2017-04-28
1225,2296,23:39:10,23:54:49,37.3501,-121.939,37.3494,-121.941,2017-04-28,2017-04-28
1226,2297,23:55:06,23:59:04,37.3494,-121.941,37.3494,-121.941,2017-04-28,2017-04-28
1227,2298,23:55:06,23:59:04,37.3494,-121.941,37.3494,-121.941,2017-04-28,2017-04-28
1228,2299,23:55:07,23:59:03,37.3494,-121.941,37.3494,-121.941,2017-04-28,2017-04-28
1229,2300,00:00:49,00:12:56,37.3496,-121.941,37.3496,-121.941,2017-04-29,2017-04-29
1230,2301,18:23:09,18:38:52,37.3501,-121.939,37.3501,-121.939,2017-05-01,2017-05-01
1231,2302,18:25:39,18:33:29,37.3501,-121.939,37.3504,-121.942,2017-05-01,2017-05-01
1232,2303,18:38:53,18:39:09,37.3501,-121.939,37.3501,-121.939,2017-05-01,2017-05-01
1233,2304,18:38:53,18:39:08,37.3501,-121.939,37.3501,-121.939,2017-05-01,2017-05-01
1234,2305,19:22:46,19:24:51,37.3501,-121.939,37.3495,-121.941,2017-05-01,2017-05-01
1235,2306,19:49:19,19:49:21,37.3497,-121.941,37.3497,-121.941,2017-05-01,2017-05-01
1236,2307,20:08:27,20:26:06,37.3497,-121.941,37.3501,-121.939,2017-05-01,2017-05-01
1237,2308,21:46:17,21:49:36,37.3501,-121.939,37.3504,-121.942,2017-05-01,2017-05-01

In [11]:
ride.to_csv('final_ride.csv',sep=',', index = False)